@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    line-height: 0.4;
    vertical-align: text-bottom;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-400;
    border: 2px solid white;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb {
    border: 2px solid #2c2c2c;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply rounded-full bg-gray-500;
  }

  .dark .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-[#5c5c5c];
  }

  .dark .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-[#c0c0c0];
  }

  .scrollbar {
    scrollbar-color: transparent transparent;
  }

  .scrollbar:hover {
    scrollbar-color: theme("colors.gray[400]") transparent;
  }
}

@supports (scrollbar-width: thin) {
  .firefox-padding-fix {
    @apply !p-5;
  }
}
